<div class="row">
    <div class="col-md-6 mx-auto">
        <p class="text-center">{{blog.blogPost}}</p>
        <div class="row">
            <div class="text-center">
                <button class="btn btn-danger btn-lg mx-5 mb-3" type="submit" (click)="onBlogDeletion(blog)">Delete</button>
                <a [routerLink]="['/dashboard/blogs/edit/', blog._id]" class="btn btn-success btn-lg mb-3"> Update</a>

                <!-- <button type="button"class="btn btn-success btn-lg mb-3" (click)="onEdition(blog)"> Update</button> -->
                
            </div>
        </div>
    </div>
</div>
